.sidebar-widget #searchform {

  input[type=text] {
    @extend .form-control;
    width: 80%;
    float: left;
  }

  button[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    width: 20%;
  }
}
